<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
<!-- This file and route are called EMPTY ROOM but it's only technically empty for the first user. After more users join it'll change dynamically with Javascript -->
<h1>
    EMPTY ROOM PAGE
</h1>

<h2>
    <%= roomNumber %>
</h2>
<h2>
    <%= username %>
</h2>

<% console.log(`Page: ${roomMembers}`); %>
<% let temp = roomMembers.join(); %>
<%= temp %>